/*
    Margining
*/

.margin-x-sm {
    margin: 0px 15px;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}


/*
    Text
*/

.text-purple {
    color: purple;
}

.text-sm {
    font-size: 12px;
}


/*
    Box Shadow
*/

.box-shadow-light {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


/*
    Custom Element Styling
*/

input.count {
    max-width: 150px;
}

#root-container {
    margin-top: 78px;
}

#javascript-container {
    max-height: 500px;
}

#copy-javascript {
    bottom: 5rem;
    right: 3rem;
}

#techinical-info .sort-by-technology {
    margin-left: 15px;
}

#see-javascript {
    z-index: 1;
}